<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  <%= title %>  </title>
        <!--LLAMADO DEL HEAD-->
        <%- include('partials/head.html') %>
</head>
<body>
    <%- include('partials/navigation.html') %>

            <!--FOTOGRAFIAS DE MI TRABAJO COMO DESARROLLADOR-->
            <div class="stage">
                <div class="container imagen">
                    <div class="ring">
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                        <div class="img"></div>
                    </div>
                </div>
            </div>

        <!--CODIGO PARA LA INCLUSION DEL FOOTER -->
        <%- include('partials/footer.html') %>

</body>
</html>